.container{
  width: 1400px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
#canvas{
  background: url("../images/background.jpg");
  background-size: contain;
  cursor: url("../images/gun-target.png"), pointer;
  position: absolute;
}
