.container{
  width: 100%;
  overflow: hidden;
  position: relative;
}
#canvas{
  background: url("../images/background.jpg");
  background-size: contain;
  cursor: url("../images/gun-target.png"), pointer;
  position: absolute;
}
#info{
  position: absolute;
  font-size: 20px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: lightgray;
  display: none;
  font-weight: bold;
}
.kill-div{
  margin-top: 10%;
}
.score-div{
  margin-top: 20px;
}
.respawn-div{
  margin-top: 20px;
}
.retry-btn{
  margin-top: 20px;
}
.retry-btn a{
 text-decoration: none;
}
.retry-btn button{
  width: 100px;
  height: 50px;
}
